.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.alert-alert {
  text-align: center;
  -webkit-animation: DEATH 2s infinite;  /* Safari 4+ */
  -moz-animation: DEATH 2s infinite;  /* Fx 5+ */
  -o-animation: DEATH 2s infinite;  /* Opera 12+ */
  animation: DEATH 2s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes DEATH {
  0%, 49% {
    background-color: white;
    border: 3px solid white;
  }
  50%, 100% {
    background-color: #e50000;
    border: 3px solid #e50000;
  }
}
